// Specific CSS for your home-page
.footer {
    text-align: center;
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 2.5rem;
    margin-top: 10px;
  }
  
  .footer-links {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-left: 40%;
  }
  
  .footer-links a {
    color: #023e8a;
    opacity: 15;
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
  }
  
  .footer-links a:hover {
    color: red;
  }
  
  .footer-copyright{
    color: white;
    font-size: 10px;
  }