// Specific CSS for your home-page
.footer {
    text-align: center;
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: rgba(0,0,0,0.3);
    width: 100%;
    height: 2.5rem;

  }

  .footer-links {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-left: 40%;
  }

  .footer-links a {
    color: #fdfdfd;
    opacity: 15;
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
    transition: all 200ms ease-in-out;
    opacity: .7;
  }

  .footer-links a:hover {
    color: #01b6c9;
    opacity: 1;
  }

  .footer-copyright{
    color: white;
    font-size: 10px;
  }

  .banner {
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .banner h1 {
    margin: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  .banner p {
    font-size: 20px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .home{
    margin-left: 20vw;
  }

.btn-xx {
  color: black;
  background-color: #01b6c9;
  border-color: black;
}

.btnxx:hover {
  color: opacify($color: #95cfc1, $amount: 0.9)
}
