// Import page-specific CSS files here.
@import "home";

.btn-blue{
    border-radius: 8px;
}

.c-container {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  flex-grow: 1;
}

// .route-images{
//   background-image: image-url("/assets/bkg.jpg")
// }

.bkg-images{
  background-image: image-url("/assets/bkg.jpg")
}


.assets-images{
  background-image: image-url("/assets/bkg.jpg")
}
