  <div class="container text-center">
    <p>Declaration successfully logged, your request number is: <strong><%= @declaration.request_number %></strong>.<br> If you have any queries you may call us on: +23057807059.<br> Have a wonderful day ahead!!</p>
  </div>
