  <div class="container text-center">
    <p>Fine successfully logged, your request number is: <strong><%= @fine.request_number %></strong>.<br> If you have any queries you may call us on: +23057807059.<br> Have a wonderful day ahead!!</p>
    <%= link_to "Ok", root_path, class:"btn btn-secondary btn-lg btn-blue"%>
  </div>
