  <div class="container text-center">
    <p>Registration successfully logged, your request number is: <strong><%= @general_question.request_number %></strong>.<br> If you have any queries you may call us on: +23057807059.<br> Have a wonderful day ahead!!</p>
  </div>
