  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.maxpixel.net/static/photo/1x/Background-Abstract-Uhd-Ultra-Hd-Modern-Wallpaper-1780148.png);">
    <div class="vilor">
      <h1>ETIX <strong>makes</strong> your <strong>life easier</strong>!</h1>
        <p>
        <span id="banner-typed-text"></span>
        </p>
      <%= link_to "Login to submit form", new_user_session_path, class:"btn btn-success btn-lg btn-blue"%>
    </div>
  </div>

