<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="cards">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <div>
          <h2>Registration form</h2>
          <div class="button">
            <%= link_to "Registration form", new_registration_path, class:"btn btn-primary btn-sm btn-blue" %>
          </div>
        </div>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <div>
          <h2>Declaration form</h2>
          <div class="button">
            <%= link_to "Declaration form", new_declaration_path, class:"btn btn-primary btn-sm btn-blue" %>
          </div>
        </div>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <div>
          <h2>fines form</h2>
          <div class="button">
            <%= link_to "Fine form", new_fine_path, class:"btn btn-primary btn-sm btn-blue" %>
          </div>
        </div>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <div>
          <h2>Queries form</h2>
          <div class="button">
            <%= link_to "Queries form", new_general_query_path, class:"btn btn-primary btn-sm btn-blue" %>
          </div>
        </div>
    </div>
  </div>
</div>





  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjM2Njk1OTIxLCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
