<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/2317899.jpg);">
  <div class="home">

      <h1>ETIX <strong>makes</strong> your <strong>life easier</strong>!</h1>
        <p>
        <span id="banner-typed-text"></span>
        </p>
        <%if user_signed_in?  %>
          <% if current_user.is_analyst? %>
            <%= link_to "View my Dashboard", dashboard_analyst_path, class:"btn btn-success btn-lg btn-blue"%>
          <% else %>
          <%= link_to "Submit form", dashboard_user_path, class:"btn btn-success btn-lg btn-blue"%>
          <% end %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:"btn btn-success btn-lg btn-blue"%>
        <% end %>
  </div>
</div>
