
<div class= "container">

<strong>Legislations relevant to NTA</strong>

        <body>
        <p>Road Traffic Act 1962
        (Act No. 22 of 1962 as amended by Acts 38 of 1982; 35 and 55 of 1983; 23 of 1985; 26 of 1986; 15 of 1988; 1, 11 and 37 of 1990; 23, 43 and 48 of 1991; 43 of 1992; 35 of 1993; 7 and 25 of 1994; 2 and 30 of 1995; 11 of 1996; 19 of 1997; 6 of 1998; 4, 5 and 38 of 1999; 20 and 46 of 2002; 9, 11and 20 of 2003; 9 of 2004; 21 of 2005; 14 of 2006 and 39 of 2008).</p>
        
        <p>Motor Vehicles (Third Party Risks) Regulations 1963
        (Government Notice No. 8 of 1963 as amended by Act No.9 of 1972).</p>
        
        <p>Public Service Vehicles (Returns and Records) Regulations 1984
        (Government Notice No. 162 of 1984).</p>
        
        <p>Road Traffic (Bus Fares) Regulations 1999
        (Government Notice No. 168 of 1999 as amended by Government Notices Nos. 71 of 2001; 88 of 2002; 30 of 2003; 132 of 2004; 124 and 157 of 2005; 10 and 252 of 2006; 82 of 2007; 72 of 2008; 14 and 224 of 2010).</p>
        
        <p>Road Traffic (Conduct of Passengers) Regulations 1967
        (Government Notice No. 72 of 1967 as amended by Government Notices Nos. 141 of 1985; 9 of 1990 and 142 of 2003).</p>
        
        <p>Road Traffic (Conductors and Drivers of Public Service Vehicles) Regulations 1954
        (Government Notice No. 99 of 1954 as amended by Government Notices Nos. 102 of 1956; 110 of 1979 and 92 of 1981).</p>
        
        <p>Road Traffic (Construction and Use of Vehicles) Regulations 2010
        (Government Notice No. 53 of 2010 as amended by Government Notice No. 170 of 2010).</p>
        
        <p>Road Traffic (Control of Taxi Operations) Regulations 1996
        (Government Notice No. 125 of 1996 as amended by Government Notices Nos. 59 and 102 of 2005 and 253 of 2010).</p>
        
        <p>Road Traffic (Control of Vehicle Emissions) Regulations 2002
        (Government Notice No. 198 of 2002 as amended by Government Notices Nos. 35 of 2003 and 15 of 2010).</p>
        
        <p>Road Traffic (Employment of Attendants) Regulations 1963
        (Government Notice No. 5 of 1963).</p>

        <p>Road Traffic (Exemption for Visitors) Regulations 1976
        (Government Notice No. 111 of 1976 as amended by Government Notices Nos.168 of 1980; 50 and 234 of 1981; 50 of 1987; 16 and 168 of 1991; 182 of 2001 and 246 of 2010 and Act No. 48 of 1991).</p>

        <p>Road Traffic (Fees) Regulations 1963
        (Government Notice No. 17 of 1963 as amended by Government Notices Nos. 162 of 1978; 93 of 1981; 16 and 73 of 1984; 166 of 1991; 164 of 1994; 183 of 2001 and 247 of 2010 and Act No. 22 of 1967).</p>
        
        <p>Road Traffic (Insurance Vignette) Regulations 2004
        (Government Notice No. 72 of 2004).</p>

        <p>Road Traffic (Motor Dealer’s Vehicle Licence) Regulations 1988
        (Government Notice No. 48 of 1988 as amended by Government Notices Nos. 174 of 1991; 210 of 1993; 185 of 2001 and 251 of 2010).</p>
        
            
        <p>Road Traffic (Motor Vehicle Examination Fees) Regulations 1964
        (Government Notices No. 123 of 1964 as amended by Government Notices Nos. 135 of 1964; 77 of 1969; 129 of 1971; 29 of 1978; 287 of 1981; 170 of 1991; 38 of 2006 and 248 of 2010).</p>
        
        <p>Road Traffic (Paid Parking) Regulations 2002
        (Government Notices 152 as amended by Government Notices Nos. 159 of 2002; 133 of 2004 and 24 of 2011).</p>
        
        <p>Road Traffic (Parking Offences) Regulations 2004
        (Government Notice No. 213 of 2004).</p>
        
        <p>Road Traffic (Public Service Vehicles, Road Service and Carrier’s Licences) Regulations 1964
        (Government Notice No. 38 of 1964 as amended by Government Notices Nos.126 of 1964; 39 of 1965; 76 of 1969; 93 of 1971; 14 of 1972; 79 of 1976; 158 of 1978; 264 of 1980; 286 of 1981; 65 of 1982; 15 and 47 of 1984; 106 of 1986; 173 of 1991; 150 of 1993; 169 of 1994; 184 of 2001; 35 of 2007 and 249 of 2010 and Act No. 22 of 1967).</p>
        
        <p>Road Traffic (Registration of Motor Vehicles and Trailers) Regulations 1963
        (Government Notice No. 13 of 1963 as amended by Government Notices Nos. 54 of 1968; 74 of 1969; 79 of 1974; 159 of 1978; 46 of 1985; 34 of 1989; 172 and 193 of 1991; 67 and 183 of 1992; 169 of 1994 and 252 of 2010).</p>
        
        <p>Road Traffic Regulations 1954
        (Government Notice No. 97 of 1954 as amended by Government Notices Nos. 46 of 1956; 72 of 1958; 62 of 1959; 25 of 1960; 45 and 54 of 1961; 39 of 1962; 32 of 1964; 44 of 1965; 50 and 71 of 1967; 31 and 73 of 1969; 57 and 180 of 1977; 171 of 1978; 144 of 1979; 74 and174 of 1982; 20 and 187 of 1984; 105 of 1985; 24, 48 and 88 of 1988; 222 of 1989; 39 and 62 of 1990; 171 and 194 of 1991; 17, 56, 96, 107, 164 and 194 of 1992; 17, 82 and 181 of 1994; 59, 170 and 171 of 1995; 25 and 217 of 1997; 180 of 2001; 94 of 2002; 26 of 2003; 48 of 2005; 231 of 2006; 34 of 2007; 53 and 245 of 2010 and Acts 34 of 1960; 22 of 1962; 9 of 1972; 37 of 1980).</p>
        
        <p>Road Traffic (Removal of Unlicensed Vehicles) Regulations 1969
        (Government Notice No. 94 of 1969 as amended by Government Notice No. 250 of 2010).</p>
        
        <p>Road Traffic (Registration of Motor Vehicles and Trailers) (Exemption) Regulations 1993
        (Government Notice No. 169 of 1993 as amended by Government Notice 25 of 2003).</p>

        <p>Road Traffic (Test Certificates) Regulations 1963
        (Government Notice 14 of 1963 as amended by Government Notices Nos. 122 of 1964; 160 of 1978 and 167 of 1991 and Act 22 of 1967).</p>
        
        <p>Road Traffic (Transfer of Public Service Vehicle, Road Service and Public Carrier’s Licence) Regulations 1986
        (Government Notice No. 118 of 1986 as amended by Government Notices Nos. 169 of 1991 and 181 of 2001).</p>
        </body>
</div>