
<h1>Declaration approval pending</h1>
<% @declarations.each do |declaration| %>
<%= declaration.policy_insurance_number %>
<%= declaration.policy_insurance_number %>
<% end %>
<h1>Declaration payment pending</h1>
<% @declarations_approved.each do |declaration| %>
<%= declaration.policy_insurance_number %>
<% end %>