.cardtitle {
  display: flex;
  justify-content: center;
  font-family: 'Roboto, Oxygen', 'Ubuntu', 'Open Sans', sans-serif;
  padding: 13px;
}

.allcarregistrations {
  max-height: 275px;
  overflow: scroll;
  color: #FAEEE7;
}

.cardtext {
  margin-top: 17px;
  text-align: left;
  margin-bottom: -1rem;
  font-size: 18px;
}

 .background {
   background-image: url('https://media.istockphoto.com/vectors/abstract-triangular-background-vector-id1209030907?k=20&m=1209030907&s=612x612&w=0&h=IzJ-ZlF4OylSRkZFzOC-5GsoZoJaY0Ue2equU28aDkE=');
 }
