h1 {
  display: flex;
  justify-content: center;
  font-family: 'Roboto, Oxygen', 'Ubuntu', 'Open Sans', sans-serif;
  padding: 13px;
}

.allcarregistrations {
  max-height: 275px;
  overflow: scroll;
}

p {
  margin-top: 17px;
  text-align: left;
  margin-bottom: -1rem;
  font-size: 18px;
}
