

.hr1 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #F3F1F5, transparent);
}




.texting {
  font-size: 20px;
  text-align: center;
  color: black;
}

.background6{
  background-color: rgb(236, 231, 231);
}


.btn90 {
  background-color: #01c986bb;;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 78px;
  align-self: center;
  padding: 7px;
  margin-bottom: 20px;
  transition: 90s;
}

@keyframes fa-spin {
  0% {
    transform: rotate(
-90deg);
}
100% {
    transform: rotate(
45deg);
}
}

.bi66 {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

.cardxx {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #01b6c9;
  color: white;
}

.fa {
  font-size:50px;
}

.cardxx h4, p {
  color: white;
}
