.cardtitle {
  display: flex;
  justify-content: center;
  font-family: 'Roboto, Oxygen', 'Ubuntu', 'Open Sans', sans-serif;
  color: white;
  padding: 25px;
}

.allcarregistrations {
  max-height: 275px;
  overflow: scroll;
  color: #FAEEE7;
}

.cardtext {
  margin-top: 17px;
  text-align: left;
  margin-bottom: -1rem;
  font-size: 18px;
  border-radius: 9px;
}

.background {
  background-image: url('https://wallpaper.dog/large/10850082.jpg');
  flex-grow: 1;

}

::-webkit-scrollbar {
  display: none;
}
