.form2{
    margin: 2rem;
    padding: 3rem;
    border-radius: 6px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba($color: #01B6C9, $alpha: 0.7);
}

.a-primary{
color: black;
}
