.form2{
    margin: 2rem;
    padding: 3rem;
    box-shadow: 2px 2px 4px grey;
    border-radius: 6px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba($color: #b096e0, $alpha: 0.8);
}