.form2{
    margin: 2rem;
    padding: 3rem;
    border-radius: 6px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba($color: #f0f4f5, $alpha: 0.4);
}

.a-primary{
color: black;
}
