.navbar-lewagon {
  justify-content: space-between;
  background-color: #ffffff;



  h2 {
    font-style: 'initial';
    font-weight: bold;
    font-family: monospace, serif;
    font-size: 60px;
    color: rgba($color: #01b6c9, $alpha: 1.0);

  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
   color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



.navbar-fonts {
  font-weight: bold;
  font-size: 30px;
  font-family:'Trebuchet MS' ;
}

.font-logo{
  font-weight: bold;
  font-size: 30px;
}
