.navbar-lewagon {
  justify-content: space-between;
  background-color:white ;
  
  h2 {
    font-style: italic;
    font-weight: bold;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
